{% extends "base.html" %}

{% block title %}
  Password change
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Enter a new passowrd and confirm it.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password has not been changed.</h1>
        <p>The password change link is invalid. Please initiate the password reset.</p>
    {% endif %}
{% endblock %}