{% extends "base.html" %}

{% block content %}
{% load static %}
    {% if car.photo %}
        <img src="{{ car.photo.url }}" class="card-img-top car-photo" alt="...">
    {% else %}
        <img src="{% static 'media/car_photos/no-image.png' %}" class="card-img-top car-photo">
    {% endif %}
    <div>
        <h4>Info about {{ car_info.car_model }}</h4>
        <hr/>
        <p>{{ car_info.client }}<br>{{ car_info.car_model }}<br>{{ car_info.plate_number }}<br>{{ car_info.vin_number }}</p>
    </div>
{% endblock %}