{% extends 'base.html' %}

{% block content %}
    <h4>Order List for {{order_list.car.client}}</h4>
    <h5>Order done at: {{order_list.order_date}}</h5>
    <h5>Car model: {{order_list.car.car_model}}</h5>
    <h5>Licence plate: {{order_list.car.plate_number}}</h5>
    <h5>Vin no: {{order_list.car.vin_number}}</h5>
    <h5>Total price for order list: {{order_list.total_price}}</h5>
    <h4><b>Order list comprising of: </b></h4>
    <ul>
        <li>Service / Price / Quantity / Total </li>
        {% for order in orders %}
        <li>{{order.service}} / {{order.price}} / {{order.quantity}} / {{order.total_order_price}}</li>
        {% endfor %}
    </ul>

    </br>
    <h4>Atsiliepimai:</h4>
    {% if order_list.reviews.all %}
        {% for review in order_list.reviews.all %}
          <hr>
            <img class="rounded-circle" src="{{review.reviewer.profile.photo.url}}">
          <strong>{{ review.reviewer.first_name }}</strong>, <em>{{ review.date_created}}</em>
          <p>{{ review.content }}</p>
        {% endfor %}
    {% else %}
        <p>Užsakymas neturi atsiliepimų</p>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="fieldWrapper">
        <hr><br/>
        <h4>Palikite atsiliepimą:</h4>
        <form action="" method="post">
          {% csrf_token %}
            <div class="form-group">
                <label for="comment">Komentaras</label>
                <input name="comment" type="text" class="form-control" id="comment" aria-describedby="commentHelp">
                <small id="commentHelp" class="form-text text-muted">Iki 2000 simbolių.</small>
            </div>
            </br>
            <style>
                Input {max-width: 500px; max-height: 200px;}
            </style>
          <button type="submit" class="btn btn-primary">Išsaugoti</button>
        </form>
        </div>
    {% endif %}

{% endblock %}